.footer {
    background-color: #000;
    padding: 40px 20px;
    color: #666;
    margin-top: auto;  /* 푸터를 항상 하단에 고정 */
}

.footer-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-info {
    font-size: 14px;
    line-height: 1.6;
}

.legal-links {
    margin-top: 10px;
}

.legal-links a {
    color: #666;
    text-decoration: none;
    transition: color 0.3s;
}

.legal-links a:hover {
    color: #fff;
}

/* Ensure the footer is unaffected by page-specific styles */
.footer p, .footer a {
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .social-links {
        padding-top: 0;
        margin-bottom: 20px;
        align-self: center !important; /* inline style 덮어쓰기 */
    }

    .company-info {
        text-align: center;
    }
} 